.board-user-info p {
  font-size: 25px;
  font-style: medium;
  font-weight: 500;
}

.board-user-card {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: calc(100% - 40px);
  height: 84px;
  border-bottom: 1px solid #DADADA;
  flex: none;
  order: 0;
  box-sizing: border-box;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 20px;
}

.board-user-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  margin: 0 auto;
  width: 30px;
  height: 82px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.board-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 25px;
  width: 250px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 15px;
}

.board-user-appointment {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 168px;
  height: 24px;
  font-size: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #A4A4A4;
  margin-left: 15px;
}

.board-user-appointment p {
  margin: 0;
}

.board-user-area {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.board-call-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 16px;
  gap: 10px;
  margin: 0 auto;
  margin-top: 5px;
  margin-right: 50px;
  width: 80px;
  height: 50px;
  background: #E5FFF7;
  border: 1px solid #13D094;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: black;
  font-size: 18px;
}